infrastructure/n8n/workflows/daily-report.json
{
  "name": "MesaYA - Reporte Diario de Reservaciones",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Diariamente a las 8:00 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 304]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:3000/api/v1/restaurants",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "get-restaurants",
      "name": "Obtener Restaurantes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [464, 304]
    },
    {
      "parameters": {
        "fieldToSplitOut": "=data",
        "options": {}
      },
      "id": "split-restaurants",
      "name": "Separar Restaurantes",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [688, 304]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:3000/api/v1/reservations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "restaurantId",
              "value": "={{ $json.id }}"
            },
            {
              "name": "date",
              "value": "={{ $now.toISODate() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-daily-reservations",
      "name": "Reservaciones del Día",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [912, 304],
      "credentials": {
        "httpBearerAuth": {
          "id": "7aeh1Rqb6JJzzuDs",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generar resumen del restaurante\nconst restaurant = $('Separar Restaurantes').first().json;\nconst reservationsResponse = $input.first().json;\nconst reservations = reservationsResponse.data || reservationsResponse || [];\n\nconst totalReservations = reservations.length;\nconst totalGuests = reservations.reduce((sum, r) => sum + (r.partySize || r.party_size || 0), 0);\n\n// Agrupar por estado\nconst byStatus = reservations.reduce((acc, r) => {\n  const status = r.status || 'UNKNOWN';\n  acc[status] = (acc[status] || 0) + 1;\n  return acc;\n}, {});\n\n// Agrupar por hora\nconst byHour = reservations.reduce((acc, r) => {\n  const hour = r.time?.split(':')[0] || 'Unknown';\n  acc[hour] = (acc[hour] || 0) + 1;\n  return acc;\n}, {});\n\nreturn {\n  restaurantId: restaurant.id,\n  restaurantName: restaurant.name,\n  ownerEmail: restaurant.ownerEmail || restaurant.owner_email,\n  date: new Date().toISOString().split('T')[0],\n  summary: {\n    totalReservations,\n    totalGuests,\n    byStatus,\n    byHour,\n    peakHour: Object.entries(byHour).sort((a, b) => b[1] - a[1])[0]?.[0] || 'N/A'\n  },\n  reservations: reservations.map(r => ({\n    id: r.id,\n    time: r.time,\n    customerName: r.customerName || r.customer_name,\n    partySize: r.partySize || r.party_size,\n    status: r.status\n  }))\n};"
      },
      "id": "generate-summary",
      "name": "Generar Resumen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 304]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// Construir filas de la tabla de reservaciones\nconst reservationRows = data.reservations.map(r => `\n  <tr>\n    <td><strong>${r.time}</strong></td>\n    <td>${r.customerName}</td>\n    <td>${r.partySize} personas</td>\n    <td><span class=\"status-badge status-${r.status.toLowerCase()}\">${r.status}</span></td>\n  </tr>\n`).join('');\n\n// Construir contenido condicional\nconst content = data.summary.totalReservations > 0 ? `\n  <div class=\"stats-grid\">\n    <div class=\"stat-card\">\n      <div class=\"stat-value\">${data.summary.totalReservations}</div>\n      <div class=\"stat-label\">Reservaciones</div>\n    </div>\n    <div class=\"stat-card\">\n      <div class=\"stat-value\">${data.summary.totalGuests}</div>\n      <div class=\"stat-label\">Comensales</div>\n    </div>\n    <div class=\"stat-card\">\n      <div class=\"stat-value\">${data.summary.peakHour}:00</div>\n      <div class=\"stat-label\">Hora Pico</div>\n    </div>\n    <div class=\"stat-card\">\n      <div class=\"stat-value\">${data.summary.byStatus.CONFIRMED || 0}</div>\n      <div class=\"stat-label\">Confirmadas</div>\n    </div>\n  </div>\n  <div class=\"summary-message\">\n    <strong>¡Excelente!</strong> Tienes <strong>${data.summary.totalReservations}</strong> reservación(es) programada(s) para hoy.\n    Se esperan aproximadamente <strong>${data.summary.totalGuests}</strong> comensales.\n  </div>\n  <h3 class=\"section-title\">📋 Detalle de Reservaciones</h3>\n  <table class=\"reservations-table\">\n    <thead>\n      <tr>\n        <th>Hora</th>\n        <th>Cliente</th>\n        <th>Personas</th>\n        <th>Estado</th>\n      </tr>\n    </thead>\n    <tbody>${reservationRows}</tbody>\n  </table>\n` : `\n  <div class=\"no-reservations\">\n    <div class=\"no-reservations-icon\">📅</div>\n    <h3>Sin Reservaciones para Hoy</h3>\n    <p>No se registraron reservaciones para el día de hoy en tu restaurante.</p>\n    <p>¡Es un buen momento para promocionar tu negocio y atraer más clientes!</p>\n  </div>\n`;\n\n// Generar HTML completo\nconst htmlEmail = `<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Reporte Diario - MesaYA</title>\n  <style>*{margin:0;padding:0;box-sizing:border-box}body{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;line-height:1.6;color:#334155;background-color:#f8fafc;padding:20px}.email-wrapper{max-width:650px;margin:0 auto;background-color:#fff;border-radius:12px;overflow:hidden;box-shadow:0 4px 6px rgba(15,23,42,.08)}.header{background:linear-gradient(135deg,#f4511f 0%,#e64a19 100%);color:#fff;padding:40px 30px;text-align:center}.header h1{font-size:28px;font-weight:700;margin-bottom:8px;color:#fff}.header p{font-size:16px;opacity:.95;font-weight:400}.content{padding:40px 30px}.restaurant-info{background:#f8fafc;border-left:4px solid #f4511f;padding:16px 20px;margin-bottom:30px;border-radius:4px}.restaurant-info h2{color:#0f172a;font-size:20px;font-weight:600;margin-bottom:4px}.restaurant-info .date{color:#64748b;font-size:14px}.stats-grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(140px,1fr));gap:16px;margin-bottom:35px}.stat-card{background:#f8fafc;border:1px solid #e2e8f0;padding:20px;border-radius:8px;text-align:center;transition:transform .2s}.stat-card:hover{transform:translateY(-2px);box-shadow:0 4px 12px rgba(244,81,31,.1)}.stat-value{font-size:36px;font-weight:700;color:#f4511f;line-height:1.2;margin-bottom:6px}.stat-label{color:#64748b;font-size:13px;font-weight:500;text-transform:uppercase;letter-spacing:.5px}.section-title{color:#0f172a;font-size:20px;font-weight:600;margin-bottom:20px;padding-bottom:10px;border-bottom:2px solid #e2e8f0}.reservations-table{width:100%;border-collapse:collapse;margin-bottom:30px;background:#fff;border-radius:8px;overflow:hidden;border:1px solid #e2e8f0}.reservations-table thead{background:#f8fafc}.reservations-table th{padding:14px 16px;text-align:left;font-weight:600;font-size:13px;color:#0f172a;text-transform:uppercase;letter-spacing:.5px;border-bottom:2px solid #e2e8f0}.reservations-table td{padding:14px 16px;border-bottom:1px solid #f1f5f9;font-size:14px;color:#334155}.reservations-table tbody tr:last-child td{border-bottom:none}.reservations-table tbody tr:hover{background-color:#f8fafc}.status-badge{display:inline-block;padding:4px 12px;border-radius:12px;font-size:12px;font-weight:600;text-transform:uppercase;letter-spacing:.3px}.status-confirmed{background-color:#dcfce7;color:#166534}.status-pending{background-color:#fef3c7;color:#92400e}.status-cancelled{background-color:#fee2e2;color:#991b1b}.status-completed{background-color:#dbeafe;color:#1e40af}.no-reservations{background:#f8fafc;padding:50px 30px;text-align:center;border-radius:8px;margin-bottom:30px;border:2px dashed #e2e8f0}.no-reservations-icon{font-size:64px;margin-bottom:20px;opacity:.7}.no-reservations h3{color:#0f172a;font-size:22px;font-weight:600;margin-bottom:12px}.no-reservations p{color:#64748b;font-size:15px;line-height:1.6;max-width:400px;margin:0 auto 8px}.cta-button{display:inline-block;margin-top:20px;padding:12px 28px;background:#f4511f;color:#fff;text-decoration:none;border-radius:6px;font-weight:600;font-size:14px;transition:background .2s}.cta-button:hover{background:#e64a19}.summary-message{background:#f8fafc;padding:20px;border-radius:8px;margin-bottom:30px;color:#334155;font-size:15px;line-height:1.7}.footer{background:#f8fafc;padding:30px;text-align:center;border-top:1px solid #e2e8f0}.footer-logo{font-size:24px;font-weight:700;color:#f4511f;margin-bottom:12px}.footer p{color:#64748b;font-size:13px;margin-bottom:6px}.footer-links{margin-top:16px}.footer-links a{color:#64748b;text-decoration:none;margin:0 10px;font-size:12px}.footer-links a:hover{color:#f4511f;text-decoration:underline}@media only screen and (max-width:600px){.email-wrapper{border-radius:0}.header{padding:30px 20px}.content{padding:30px 20px}.stats-grid{grid-template-columns:repeat(2,1fr)}.stat-value{font-size:28px}.reservations-table{font-size:13px}.reservations-table th,.reservations-table td{padding:10px 8px}}</style>\n</head>\n<body>\n  <div class=\"email-wrapper\">\n    <div class=\"header\">\n      <h1>📊 Reporte Diario</h1>\n      <p>Resumen de actividad de tu restaurante</p>\n    </div>\n    <div class=\"content\">\n      <div class=\"restaurant-info\">\n        <h2>${data.restaurantName}</h2>\n        <p class=\"date\">📅 ${data.date}</p>\n      </div>\n      ${content}\n      <div class=\"summary-message\">\n        <p>💡 <strong>Tip del día:</strong> Revisa las reservaciones pendientes y confirma con tus clientes para reducir cancelaciones.</p>\n      </div>\n    </div>\n    <div class=\"footer\">\n      <div class=\"footer-logo\">MesaYA</div>\n      <p>Sistema de Gestión de Reservaciones</p>\n      <p>Este es un reporte automático generado por tu sistema MesaYA</p>\n    </div>\n  </div>\n</body>\n</html>`;\n\nreturn {\n  ...data,\n  htmlEmail,\n  emailSubject: `📊 Reporte Diario - ${data.restaurantName} (${data.date})`\n};"
      },
      "id": "generate-html-email",
      "name": "Generar HTML Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 304]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.ownerEmail }}",
        "subject": "={{ $json.emailSubject }}",
        "emailType": "html",
        "message": "={{ $json.htmlEmail }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1568, 304],
      "id": "c21f40e7-8d1f-4129-b828-7c9e2b40a7c7",
      "name": "Enviar Reporte Gmail",
      "webhookId": "96df7092-cf9d-475b-ae1a-9b6663f4d483",
      "credentials": {
        "gmailOAuth2": {
          "id": "PpvtF1KUJoFPAXAp",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Diariamente a las 8:00 AM": {
      "main": [
        [
          {
            "node": "Obtener Restaurantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Restaurantes": {
      "main": [
        [
          {
            "node": "Separar Restaurantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar Restaurantes": {
      "main": [
        [
          {
            "node": "Reservaciones del Día",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reservaciones del Día": {
      "main": [
        [
          {
            "node": "Generar Resumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Resumen": {
      "main": [
        [
          {
            "node": "Generar HTML Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar HTML Email": {
      "main": [
        [
          {
            "node": "Enviar Reporte Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "versionId": "1",
  "tags": [
    {
      "name": "reports",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "scheduled",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "active": false,
  "meta": {
    "instanceId": "mesaya-n8n",
    "templateCredsSetupCompleted": true
  }
}
