infrastructure/n8n/workflows/mcp-input-handler.json
{
  "name": "MesaYA - Gmail Input Handler",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": ["INBOX"]
        },
        "options": {}
      },
      "id": "email-trigger",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail_account",
          "name": "Gmail MesaYA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extraer contenido y adjuntos de Email\nconst email = $input.first().json;\n\nif (!email) {\n  throw new Error('No se recibió email');\n}\n\nconst attachments = [];\n\n// Extraer adjuntos si existen\nif (email.attachments && Array.isArray(email.attachments)) {\n  for (const attachment of email.attachments) {\n    attachments.push({\n      type: 'email_attachment',\n      filename: attachment.filename,\n      content_type: attachment.contentType,\n      size: attachment.size,\n      content: attachment.content // Base64\n    });\n  }\n}\n\n// Función para parsear \"Name <email@domain.com>\" o solo \"email@domain.com\"\nfunction parseEmailAddress(emailString) {\n  if (!emailString) return { address: 'unknown@mesaya.com', name: 'Unknown Sender' };\n  \n  const match = emailString.match(/^(.+?)\\s*<(.+?)>$/);\n  if (match) {\n    return { name: match[1].trim(), address: match[2].trim() };\n  }\n  return { address: emailString.trim(), name: emailString.trim() };\n}\n\n// Extraer información del remitente con validación\nlet fromAddress = 'unknown@mesaya.com';\nlet fromName = 'Unknown Sender';\n\n// Gmail puede enviar From con mayúscula o minúscula\nconst fromField = email.From || email.from;\n\nif (fromField) {\n  if (typeof fromField === 'string') {\n    const parsed = parseEmailAddress(fromField);\n    fromAddress = parsed.address;\n    fromName = parsed.name;\n  } else if (fromField.value && Array.isArray(fromField.value) && fromField.value.length > 0) {\n    fromAddress = fromField.value[0].address || fromAddress;\n    fromName = fromField.value[0].name || fromField.value[0].address || fromName;\n  } else if (fromField.address) {\n    fromAddress = fromField.address;\n    fromName = fromField.name || fromField.address;\n  }\n}\n\n// Extraer asunto (puede venir con mayúscula o minúscula)\nconst subject = email.Subject || email.subject || '(Sin asunto)';\n\n// Extraer texto del mensaje (snippet es el resumen de Gmail)\nconst messageText = email.text || email.snippet || email.textAsHtml || '';\n\n// Extraer timestamp (internalDate es timestamp en milisegundos)\nlet timestamp = email.date || new Date().toISOString();\nif (email.internalDate) {\n  timestamp = new Date(parseInt(email.internalDate)).toISOString();\n}\n\nreturn {\n  channel: 'email',\n  email_id: email.id || email.uid || email.messageId,\n  from: fromAddress,\n  from_name: fromName,\n  subject: subject,\n  text: messageText,\n  html: email.html || '',\n  attachments: attachments,\n  timestamp: timestamp\n};"
      },
      "id": "extract-email",
      "name": "Extraer Contenido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.MESAYA_CHATBOT_URL }}/chat",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "={{ $json.channel }}"
            },
            {
              "name": "user_id",
              "value": "={{ $json.from }}"
            },
            {
              "name": "username",
              "value": "={{ $json.from_name }}"
            },
            {
              "name": "message",
              "value": "={{ $json.text }}"
            },
            {
              "name": "attachments",
              "value": "={{ JSON.stringify($json.attachments) }}"
            },
            {
              "name": "context",
              "value": "={{ JSON.stringify({ timestamp: $json.timestamp, email_id: $json.email_id, subject: $json.subject }) }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "ai-orchestrator",
      "name": "Enviar a Chatbot AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Extraer Contenido').item.json.from }}",
        "subject": "Re: {{ $('Extraer Contenido').item.json.subject }}",
        "emailType": "text",
        "message": "={{ $json.data.response || $json.response || 'Tu mensaje ha sido procesado exitosamente por MesaYA.' }}",
        "options": {
          "ccList": "",
          "bccList": ""
        }
      },
      "id": "respond-email",
      "name": "Responder Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [900, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail_account",
          "name": "Gmail MesaYA"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Extraer Contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Contenido": {
      "main": [
        [
          {
            "node": "Enviar a Chatbot AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar a Chatbot AI": {
      "main": [
        [
          {
            "node": "Responder Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder Email": {
      "main": [[]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "versionId": "1",
  "tags": [
    {
      "name": "gmail",
      "createdAt": "2026-01-21T00:00:00.000Z",
      "updatedAt": "2026-01-21T00:00:00.000Z"
    },
    {
      "name": "ai",
      "createdAt": "2026-01-21T00:00:00.000Z",
      "updatedAt": "2026-01-21T00:00:00.000Z"
    },
    {
      "name": "chatbot",
      "createdAt": "2026-01-21T00:00:00.000Z",
      "updatedAt": "2026-01-21T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "active": false,
  "meta": {
    "instanceId": "mesaya-n8n"
  }
}
