infrastructure/n8n/workflows/reservation-notification.json
{
  "name": "MesaYA - Nueva Reservación (Notificación)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reservation-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "reservation-created"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.event_type }}",
              "rightValue": "created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-created",
      "name": "Filtrar Reservaciones Creadas",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extraer datos de la reservación\nconst reservation = $input.first().json;\n\nconst data = reservation.data || reservation;\n\nreturn {\n  reservationId: data.id || reservation.entity_id,\n  customerName: data.customer_name || data.customerName || 'Cliente',\n  customerEmail: data.customer_email || data.customerEmail,\n  customerPhone: data.customer_phone || data.customerPhone,\n  restaurantId: data.restaurant_id || data.restaurantId,\n  tableId: data.table_id || data.tableId,\n  date: data.date,\n  time: data.time,\n  partySize: data.party_size || data.partySize,\n  status: data.status || 'PENDING',\n  notes: data.notes || '',\n  timestamp: reservation.timestamp || new Date().toISOString()\n};"
      },
      "id": "transform-data",
      "name": "Transformar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.MESAYA_API_URL }}/restaurants/{{ $json.restaurantId }}",
        "options": {}
      },
      "id": "get-restaurant",
      "name": "Obtener Info Restaurante",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.MESAYA_API_URL }}/tables/{{ $json.tableId }}",
        "options": {}
      },
      "id": "get-table",
      "name": "Obtener Info Mesa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "jsCode": "// Combinar toda la información\nconst reservation = $('Transformar Datos').first().json;\nconst restaurant = $('Obtener Info Restaurante').first().json;\nconst table = $('Obtener Info Mesa').first().json;\n\nreturn {\n  ...reservation,\n  restaurantName: restaurant.name || 'Restaurante',\n  restaurantAddress: restaurant.address || '',\n  tableName: table.name || `Mesa ${reservation.tableId}`,\n  tableCapacity: table.capacity || reservation.partySize\n};"
      },
      "id": "merge-data",
      "name": "Combinar Información",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "fromEmail": "reservaciones@mesaya.com",
        "toEmail": "={{ $json.customerEmail }}",
        "subject": "✅ Reservación Confirmada - {{ $json.restaurantName }}",
        "emailType": "html",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: #10B981; color: white; padding: 20px; text-align: center; border-radius: 8px 8px 0 0; }\n    .content { background: #f9fafb; padding: 20px; border-radius: 0 0 8px 8px; }\n    .info-row { margin: 10px 0; padding: 10px; background: white; border-radius: 4px; }\n    .label { font-weight: bold; color: #6B7280; }\n    .value { color: #111827; }\n    .footer { text-align: center; margin-top: 20px; color: #6B7280; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>🍽️ Reservación Confirmada</h1>\n    </div>\n    <div class=\"content\">\n      <p>Hola <strong>{{ $json.customerName }}</strong>,</p>\n      <p>Tu reservación ha sido confirmada exitosamente. Aquí están los detalles:</p>\n      \n      <div class=\"info-row\">\n        <span class=\"label\">🏪 Restaurante:</span>\n        <span class=\"value\">{{ $json.restaurantName }}</span>\n      </div>\n      \n      <div class=\"info-row\">\n        <span class=\"label\">📍 Dirección:</span>\n        <span class=\"value\">{{ $json.restaurantAddress }}</span>\n      </div>\n      \n      <div class=\"info-row\">\n        <span class=\"label\">📅 Fecha:</span>\n        <span class=\"value\">{{ $json.date }}</span>\n      </div>\n      \n      <div class=\"info-row\">\n        <span class=\"label\">🕐 Hora:</span>\n        <span class=\"value\">{{ $json.time }}</span>\n      </div>\n      \n      <div class=\"info-row\">\n        <span class=\"label\">🪑 Mesa:</span>\n        <span class=\"value\">{{ $json.tableName }}</span>\n      </div>\n      \n      <div class=\"info-row\">\n        <span class=\"label\">👥 Personas:</span>\n        <span class=\"value\">{{ $json.partySize }}</span>\n      </div>\n      \n      <div class=\"info-row\">\n        <span class=\"label\">📝 Código:</span>\n        <span class=\"value\">{{ $json.reservationId }}</span>\n      </div>\n      \n      <p style=\"margin-top: 20px;\">¡Te esperamos!</p>\n    </div>\n    <div class=\"footer\">\n      <p>MesaYA - Tu reservación, nuestra prioridad</p>\n      <p>Este es un correo automático, por favor no responder.</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-email-customer",
      "name": "Email a Cliente",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Notificación enviada', reservationId: $json.reservationId }) }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Filtrar Reservaciones Creadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Reservaciones Creadas": {
      "main": [
        [
          {
            "node": "Transformar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformar Datos": {
      "main": [
        [
          {
            "node": "Obtener Info Restaurante",
            "type": "main",
            "index": 0
          },
          {
            "node": "Obtener Info Mesa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Info Restaurante": {
      "main": [
        [
          {
            "node": "Combinar Información",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Info Mesa": {
      "main": [
        [
          {
            "node": "Combinar Información",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combinar Información": {
      "main": [
        [
          {
            "node": "Email a Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email a Cliente": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "reservations",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "notifications",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "active": false,
  "meta": {
    "instanceId": "mesaya-n8n"
  }
}
